src/main/schema/rollingstock.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- $Id: rollingstock.xsd 855 2018-10-04 15:07:53Z christian.rahmig $ -->
<xs:schema xmlns:rail="https://www.railml.org/schemas/2018" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:xml="http://www.w3.org/XML/1998/namespace" 
           targetNamespace="https://www.railml.org/schemas/2018" 
           elementFormDefault="qualified" 
           version="2.4">
  <xs:annotation>
    <xs:documentation>Copyright (c) railML.org e.V. Dresden/Germany; All Rights Reserved.</xs:documentation>
    <xs:documentation>This work is licensed under the restricted CreativeCommons Attribution-NonCommercial-NoDerivs 3.0 Unported License with additional license conditions of railML.org.</xs:documentation>
    <xs:documentation>For further information see: https://www.railml.org/licence</xs:documentation>
    <xs:documentation>Content of this file: XML Schema for railML(R) 2.4 Definition of elements (partially hidden as complex type) for rollingstock sub schema (RS), uses rollingstock types and attribute groups from "xs:include" path</xs:documentation>
  </xs:annotation>

  <xs:include schemaLocation="rollingstockTypes.xsd" />

  <xs:element name="rollingstock">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>container for rolling stock data of single vehicles and train formations</xs:documentation>
        <xs:documentation source="http://wiki.railml.org/index.php?title=RS:rollingstock" />
      </xs:annotation>
      <xs:complexContent>
        <xs:extension base="rail:tRollingstock">
          <xs:sequence>
            <xs:element name="vehicles" type="rail:eVehicles" minOccurs="0">
              <xs:annotation>
                <xs:documentation>container for single vehicle data or vehicle family data</xs:documentation>
                <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicles" />
              </xs:annotation>
            </xs:element>
            <xs:element name="formations" type="rail:eFormations" minOccurs="0">
              <xs:annotation>
                <xs:documentation>container for complete train formations or sets of vehicles</xs:documentation>
                <xs:documentation source="http://wiki.railml.org/index.php?title=RS:formations" />
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:key name="etcsKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:monitoring/rail:etcs" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="specificTransmissionModuleKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:monitoring/rail:etcs/rail:specificTransmissionModule" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="nationalSystemKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:monitoring/rail:nationalSystem" />
      <xs:field xpath="@id" />
    </xs:key>
    <xs:keyref name="nationalSystem-specificTransmissionModuleKeyref" refer="rail:nationalSystemKey">
      <xs:selector xpath=".//rail:etcs/rail:specificTransmissionModule" />
      <xs:field xpath="@nationalSystemRef" />
    </xs:keyref>

    <xs:key name="trainRadioKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:monitoring/rail:trainRadio" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="otherEquipmentKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:monitoring/rail:otherEquipment" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="energyStorageKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:energyStorage" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="propulsionKey">
      <xs:selector xpath=".//rail:vehicles/rail:vehicle/rail:engine/rail:propulsion" />
      <xs:field xpath="@id" />
    </xs:key>

  </xs:element>

  <xs:complexType name="eVehicles">
    <xs:sequence>
      <xs:element name="vehicle" type="rail:eVehicle" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>data related to single vehicle or vehicle family</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicle" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eVehicle">
    <xs:complexContent>
      <xs:extension base="rail:tVehicle">
        <xs:sequence>
          <xs:element name="classification" type="rail:eClassification" minOccurs="0">
            <xs:annotation>
              <xs:documentation>general management and classification data of vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:classification" />
            </xs:annotation>
          </xs:element>
          <xs:element name="engine" type="rail:eEngine" minOccurs="0">
            <xs:annotation>
              <xs:documentation>engine data about a motor car or locomotive</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:engine" />
            </xs:annotation>
          </xs:element>
          <xs:element name="wagon" type="rail:eWagon" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical and payload data about a (motor) car or locomotive</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:wagon" />
            </xs:annotation>
          </xs:element>
          <xs:element name="vehicleBrakes" type="rail:eVehicleBrakes" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data about brake systems independent from propulsion</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleBrakes" />
            </xs:annotation>
          </xs:element>
          <xs:element name="loadLimitMatrix" type="rail:eLoadLimitMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation>matrix of permissible speed, line classification and payload</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:loadLimitMatrix" />
            </xs:annotation>
          </xs:element>
          <xs:element name="curvingLimitation" type="rail:eCurvingLimitation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>list of permissible curve radius in horizontal and vertical direction</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:curvingLimitation" />
            </xs:annotation>
          </xs:element>
          <xs:element name="maintenanceIntervals" type="rail:eMaintenanceIntervals" minOccurs="0">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eClassification">
    <xs:sequence>
      <xs:element name="manufacturer" type="rail:tManufacturer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>manufacturer data related to the vehicle</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:manufacturer" />
        </xs:annotation>
      </xs:element>
      <xs:element name="operator" type="rail:eOperator" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>general operator specific vehicle data</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:operator" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="eOperator">
  	<xs:complexContent>
  	  <xs:extension base="rail:tOperator">
  		<xs:sequence>
  		  <xs:element name="vehicleIdentification" type="rail:tVehicleIdentification" minOccurs="0">
  		    <xs:annotation>
  		      <xs:documentation>vehicle identification as described by EU paper DV51EN01 annex P or UIC 438</xs:documentation>
  		      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleIdentification" />
  		    </xs:annotation>
  		  </xs:element>
  		</xs:sequence>	
  	  </xs:extension>
  	</xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eEngine">
    <xs:annotation>
      <xs:documentation>engine data about a motor car or locomotive, may be used in conjunction with 'wagon'</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:engine" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tEngine">
        <xs:sequence>
          <xs:element name="propulsion" type="rail:ePropulsion" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>technical data about the propulsion system of a vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:propulsion" />
            </xs:annotation>
          </xs:element>
          <xs:element name="pantograph" type="rail:ePantograph" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>technical data about the installed pantographs of a vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:pantograph" />
            </xs:annotation>
          </xs:element>
          <xs:element name="energyStorage" type="rail:eStorage" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>technical data about the installed energy storage devices of a vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:energyStorage" />
            </xs:annotation>
          </xs:element>
          <xs:element name="monitoring" type="rail:eMonitoring" minOccurs="0">
            <xs:annotation>
              <xs:documentation>types of signalling systems fitted to the vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:monitoring" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ePantograph">
    <xs:annotation>
      <xs:documentation>technical data about the installed pantographs of a vehicle</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:pantograph" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tPantograph">
        <xs:sequence>
          <xs:element name="dedicatedSupplySystem" type="rail:tElectrificationSystem" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>technical data of the supply system the pantograph is used for</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:dedicatedSupplySystem_pantograph" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eStorage">
    <xs:complexContent>
      <xs:extension base="rail:tStorage">
        <xs:sequence>
          <xs:element name="efficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>detailed efficiency of energy storage device</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:efficiency_energyStorage" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ePropulsion">
    <xs:annotation>
      <xs:documentation>technical data about the propulsion system of a vehicle</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:propulsion" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tPropulsion">
        <xs:sequence>
          <xs:element name="transformer" type="rail:eTransformer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical data of main transformer</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:transformer" />
            </xs:annotation>
          </xs:element>
          <xs:element name="fourQuadrantChopper" type="rail:eFourQuadrantChopper" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical data of inverter between OHL/transformer and link circuit</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:fourQuadrantChopper" />
            </xs:annotation>
          </xs:element>
          <xs:element name="link" type="rail:tLink" minOccurs="0">
            <xs:annotation>
              <xs:documentation>nominal values of link circuit between input inverter and motor inverter</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:link" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tractionInverter" type="rail:eTractionInverter" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical data of inverter between link circuit and motors</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tractionInverter" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tractionMotor" type="rail:eTractionMotor" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical data of traction motor</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tractionMotor" />
            </xs:annotation>
          </xs:element>
          <xs:element name="diesel" type="rail:tDieselEngine" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical data of diesel engine</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:diesel" />
            </xs:annotation>
          </xs:element>
          <xs:element name="gear" type="rail:eGear" minOccurs="0">
            <xs:annotation>
              <xs:documentation>technical data of transmission system between motor and wheel</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:gear" />
            </xs:annotation>
          </xs:element>
          <xs:element name="auxiliarySupply" type="rail:eAuxiliarySupply" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>technical data of auxiliary systems (supply and consumption)</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:auxiliarySupply" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tractiveEffort" type="rail:tEffortCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>mechanical tractive effort at wheel vs. speed by propulsion system</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tractiveEffort" />
            </xs:annotation>
          </xs:element>
          <xs:element name="brakeEffort" type="rail:tEffortCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>mechanical brake effort at wheel vs. speed by propulsion system</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:brakeEffort" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tractiveCurrent" type="rail:tCurrentCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>net current of the entire propulsion system as curve vs. speed for traction mode</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tractiveCurrent" />
            </xs:annotation>
          </xs:element>
          <xs:element name="brakeCurrent" type="rail:tCurrentCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>net current of the entire propulsion system as curve vs. speed for braking mode</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:brakeCurrent" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tractiveCurrentLimitation" type="rail:tCurrentLimitation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>limitation curve of net current of the entire propulsion system vs. net voltage for traction mode</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tractiveCurrentLimitation" />
            </xs:annotation>
          </xs:element>
          <xs:element name="brakeCurrentLimitation" type="rail:tCurrentLimitation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>limitation curve of net current of the entire propulsion system vs. net voltage for braking mode</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:brakeCurrentLimitation" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tractiveVehicleEfficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>efficiency of the entire propulsion system as curve vs. speed or effort for traction mode</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tractiveVehicleEfficiency" />
            </xs:annotation>
          </xs:element>
          <xs:element name="brakeVehicleEfficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>efficiency of the entire propulsion system as curve vs. speed or effort for braking mode</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:brakeVehicleEfficiency" />
            </xs:annotation>
          </xs:element>
          <xs:element name="rackTraction" type="rail:tRackTractionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data about rack traction equipment of the vehicle used for propulsion</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:rackTraction_propulsion" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eTransformer">
    <xs:complexContent>
      <xs:extension base="rail:tTransformer">
        <xs:sequence>
          <xs:element name="winding" type="rail:tWinding" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>nominal values of each transformer winding</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:winding" />
            </xs:annotation>
          </xs:element>
          <xs:element name="efficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>transformer efficiency vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:efficiency_transformer" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eFourQuadrantChopper">
    <xs:complexContent>
      <xs:extension base="rail:tFourQuadrantChopper">
        <xs:sequence>
          <xs:element name="efficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>four-quadrant-chopper efficiency vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:efficiency_fourQuadratChopper" />
            </xs:annotation>
          </xs:element>
          <xs:element name="phi" type="rail:tCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>phase angle of the real power to the apparent power as curve for the entire propulsion system</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:phi" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eTractionInverter">
    <xs:complexContent>
      <xs:extension base="rail:tTractionInverter">
        <xs:sequence>
          <xs:element name="efficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>traction inverter efficiency vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:efficiency_tractionInverter" />
            </xs:annotation>
          </xs:element>
          <xs:element name="pulsePattern" type="rail:ePulsePattern" minOccurs="0">
            <xs:annotation>
              <xs:documentation>pulse pattern of the traction inverter</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:pulsePattern" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ePulsePattern">
    <xs:sequence>
      <xs:element name="valueTable">
        <xs:annotation>
          <xs:documentation>table of values vs. arbitrary variable</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:valueTable_pulsePattern" />
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="rail:tValueTable" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eTractionMotor">
    <xs:complexContent>
      <xs:extension base="rail:tTractionMotor">
        <xs:sequence>
          <xs:element name="efficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>traction motor efficiency vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:efficiency_tractionMotor" />
            </xs:annotation>
          </xs:element>
          <xs:element name="mechanicalLosses" type="rail:tLosses" minOccurs="0">
            <xs:annotation>
              <xs:documentation>traction motor mechanical losses vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:mechanicalLosses" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eGear">
    <xs:complexContent>
      <xs:extension base="rail:tGear">
        <xs:sequence>
          <xs:element name="efficiency" type="rail:tEfficiencyCurve" minOccurs="0">
            <xs:annotation>
              <xs:documentation>transmission efficiency vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:efficiency_gear" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eAuxiliarySupply">
    <xs:complexContent>
      <xs:extension base="rail:tAuxiliarySupply">
        <xs:sequence>
          <xs:element name="dedicatedSupplySystem" type="rail:tAuxiliarySupplySystem" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>list of available supply systems for auxiliaries</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:dedicatedSupplySystem_auxiliarySupply" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eMonitoring">
    <xs:complexContent>
      <xs:extension base="rail:tMonitoring">
        <xs:sequence>
          <xs:element name="etcs" type="rail:eETCS" minOccurs="0">
            <xs:annotation>
              <xs:documentation>capabilities with respect to European Train Control System</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:etcs" />
            </xs:annotation>
          </xs:element>
          <xs:element name="nationalSystem" type="rail:tNationalSystem" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>list of installed national train protection/control systems</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:nationalSystem" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainRadio" type="rail:eTrainRadio" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>list of installed train radio systems for communication</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainRadio" />
            </xs:annotation>
          </xs:element>
          <xs:element name="otherEquipment" type="rail:tOtherEquipment" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>list of other (non-safety) installed train equipment</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:otherEquipment" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eETCS">
    <xs:annotation>
      <xs:documentation>data about installed ETCS system</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:etcs" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tETCS">
        <xs:sequence>
          <xs:element name="specificTransmissionModule" type="rail:tSpecificTransmissionModule" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data for special transmission modules of ETCS equipment</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:specificTransmissionModule" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eTrainRadio">
    <xs:annotation>
      <xs:documentation>train radio</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainRadio" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tTrainRadio">
        <xs:sequence>
          <xs:element name="radioSystem" type="rail:tRadioSystem" minOccurs="0">
            <xs:annotation>
              <xs:documentation>list of available radio systems for communication like 'GSM-R'</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:radioSystem" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eWagon">
    <xs:annotation>
      <xs:documentation>data about the car body of a vehicle and its payload</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:wagon" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tWagon">
        <xs:sequence>
          <xs:element name="passenger" type="rail:ePassenger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data for passenger cars</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:passenger" />
            </xs:annotation>
          </xs:element>
          <xs:element name="goods" type="rail:eGoods" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data for freight cars</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:goods" />
            </xs:annotation>
          </xs:element>
          <xs:element name="auxiliarySupplySystem" type="rail:tElectrificationSystem" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>installed supply systems for auxiliaries in the vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:auxiliarySupplySystem" />
            </xs:annotation>
          </xs:element>
          <xs:element name="driversCab" type="rail:tDriversCabType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>data about each drivers cab of the vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:driversCab" />
            </xs:annotation>
          </xs:element>
          <xs:element name="rackTraction" type="rail:tRackTractionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data about rack traction equipment of the vehicle used for braking only</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:rackTraction_wagon" />
            </xs:annotation>
          </xs:element>
          <xs:element name="couplers" type="rail:eCouplers" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data for couplers between wagons</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:couplers" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainClearanceGauge" type="rail:tClearanceGaugeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>data about all compatible clearance gauges of the vehicle</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainClearanceGauge" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ePassenger">
    <xs:complexContent>
      <xs:extension base="rail:tPassenger">
        <xs:sequence>
          <xs:element name="gangway" type="rail:tGangway" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>description of gangway features between vehicles</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:gangway" />
            </xs:annotation>
          </xs:element>
          <xs:element name="doors" type="rail:eDoors" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data about door dimensions</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:doors" />
            </xs:annotation>
          </xs:element>
          <xs:element name="tilting" type="rail:tTilting" minOccurs="0">
            <xs:annotation>
              <xs:documentation>data about car body tilting system</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:tilting" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
	
	<xs:complexType name="eDoors">
		<xs:complexContent>
			<xs:extension base="rail:tDoors">
				<xs:sequence>
					<xs:element name="passengerFlowSpeed" type="rail:tPassengerFlowSpeed" minOccurs="0" maxOccurs="unbounded">
			            <xs:annotation>
			              <xs:documentation>data about speed of passenger flow</xs:documentation>
			              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:passengerFlowSpeed" />
			            </xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="eGoods">
    <xs:complexContent>
      <xs:extension base="rail:tGoods">
        <xs:sequence>
          <xs:element name="service" type="rail:tService" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>description of any additional service provided per vehicle like car or truck ports</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:service_goods" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eCouplers">
    <xs:sequence>
      <xs:element name="mechanicalCoupler" type="rail:eMechanicalCoupler" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>container for available mechanical couplers between wagons</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:mechanicalCoupler" />
        </xs:annotation>
      </xs:element>
      <xs:element name="pneumaticCoupler" type="rail:ePneumaticCoupler" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>container for available pneumatic couplers between wagons</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:pneumaticCoupler" />
        </xs:annotation>
      </xs:element>
      <xs:element name="electricalCoupler" type="rail:eElectricalCoupler" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>container for available electrical couplers between wagons</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:electricalCoupler" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eMechanicalCoupler">
    <xs:complexContent>
      <xs:extension base="rail:tMechanicalWagonCouplerType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:mechanicalCoupler" />
        </xs:annotation>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ePneumaticCoupler">
    <xs:complexContent>
      <xs:extension base="rail:tPneumaticWagonCouplerType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:pneumaticCoupler" />
        </xs:annotation>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eElectricalCoupler">
    <xs:complexContent>
      <xs:extension base="rail:tElectricalWagonCouplerType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:electricalCoupler" />
        </xs:annotation>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eVehicleBrakes">
    <xs:annotation>
      <xs:documentation>data about brake systems independent from propulsion</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleBrakes" />
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vehicleBrake" type="rail:eVehicleBrake" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>settings and characteristic of a particular brake type or brake application position</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleBrake" />
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleBrakeOperation" type="rail:tBasicBrakeOperation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>operational braking rules according to specific supervision regime for single vehicle</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleBrakeOperation" />
        </xs:annotation>
      </xs:element>
      <xs:element name="mechanicalBrakeEffort" type="rail:tEffortCurve" minOccurs="0">
        <xs:annotation>
          <xs:documentation>mechanical brake effort at wheel vs. speed by brake systems without propulsion</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:mechanicalBrakeEffort" />
        </xs:annotation>
      </xs:element>
      <xs:element name="eddyCurrentBrake" type="rail:tEddyCurrentBrake" minOccurs="0">
        <xs:annotation>
          <xs:documentation>technical data of eddy current brake</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:eddyCurrentBrake" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eVehicleBrake">
    <xs:complexContent>
      <xs:extension base="rail:tBasicBrakeType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleBrake" />
        </xs:annotation>
        <xs:attributeGroup ref="rail:aVehicleBrake" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="eCurvingLimitation">
    <xs:complexContent>
      <xs:extension base="rail:tCurvingLimitationType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:curvingLimitation" />
        </xs:annotation>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="eMaintenanceIntervals">
    <xs:sequence>
      <xs:element name="maintenanceInterval" type="rail:tMaintenanceInterval" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eLoadLimitMatrix">
    <xs:complexContent>
      <xs:extension base="rail:tLoadLimitMatrixType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:loadLimitMatrix" />
        </xs:annotation>
        <xs:sequence>
          <xs:element name="loadLimit" type="rail:eLoadLimit" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>container for possible load limits</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:loadLimit" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eLoadLimit">
    <xs:complexContent>
      <xs:extension base="rail:tLoadLimitType">
        <xs:annotation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:loadLimit" />
        </xs:annotation>
        <xs:sequence>
          <xs:element name="railNetwork" type="rail:tRailNetwork" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>relation to particular rail networks the limit is applicable</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:railNetwork" />
            </xs:annotation>
          </xs:element>
          <xs:element name="lineClassification" type="rail:tLineClassification" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>load limit with respect to line classification (permissible axle load and meter load)</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:lineClassification" />
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eFormations">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>contain formation data</xs:documentation>
        <xs:documentation source="http://wiki.railml.org/index.php?title=RS:formations" />
      </xs:annotation>
      <xs:element name="formation" type="rail:eFormation" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>data for train composition or vehicle formation</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:formation" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eFormation">
    <xs:annotation>
      <xs:documentation>data for train composition or vehicle formation</xs:documentation>
      <xs:documentation source="http://wiki.railml.org/index.php?title=RS:formation" />
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rail:tFormation">
        <xs:sequence>
          <xs:annotation>
            <xs:documentation>contain formation data</xs:documentation>
          </xs:annotation>
          <xs:element name="trainOrder" type="rail:eTrainOrder" minOccurs="0">
            <xs:annotation>
              <xs:documentation>car order for a formation</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainOrder" />
            </xs:annotation>
          </xs:element>
          <xs:element name="categoryRef" type="rail:tElementWithReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>reference to train categories in TimeTable part, e.g. ltd. Express, the formation can run as in service</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:categoryRef" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainEngine" type="rail:tTrainEngine" minOccurs="0">
            <xs:annotation>
              <xs:documentation>acceleration value for whole formation</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainEngine" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainBrakes" type="rail:tBasicBrakeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>for whole formation deceleration</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainBrakes" />
            </xs:annotation>
          </xs:element>
          <xs:element name="trainBrakeOperation" type="rail:tBasicBrakeOperation" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>operational braking rules according to specific supervision regime for entire formation</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainBrakeOperation" />
            </xs:annotation>
          </xs:element>
           <xs:element name="trainResistance" type="rail:tTrainResistance" minOccurs="0">
            <xs:annotation>
              <xs:documentation>mechanical train resistance vs. speed</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:trainResistance" />
            </xs:annotation>
          </xs:element>
          <xs:element name="speedProfileRef" type="rail:tSpeedProfileRefRS" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>reference to permissible speed profiles for entire formation</xs:documentation>
              <xs:documentation source="http://wiki.railml.org/index.php?title=RS:speedProfileRefRS" />
            </xs:annotation>
          </xs:element>
          <xs:element name="technicalStopActivity" type="rail:tTechnicalStopActivity" minOccurs="0" maxOccurs="unbounded">
          	<xs:annotation>
          		<xs:documentation>list of stop activities with their related technical times</xs:documentation>
          	</xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="eTrainOrder">
    <xs:sequence>
      <xs:element name="vehicleRef" type="rail:tVehicleRef" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>references via ID-attribute to vehicle element</xs:documentation>
          <xs:documentation source="http://wiki.railml.org/index.php?title=RS:vehicleRef" />
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
